body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: #f4f4f4;
    gap: 50px;
   
}

.card-container {
    perspective: 1000px; /* 3D effect */
}

.card {
    width: 250px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.front {
    background-color: #fff;
}

.front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding: 20px;
}