body {
    font-family: Arial, sans-serif;
    background-color: #fcfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 15px;
}

.img-cont {
    position: relative;
    overflow: hidden;
    border-radius: 17px;
    cursor: pointer;

}

.img-cont img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 17px;
}

.img-cont:hover img {
    filter: brightness(0.7) contrast(1.2);
    transform: scale(1.1);
}

.cap {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #f8f8f8;
    padding: 8px 15px;
    font-size: 1em;
    border-radius: 9px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.img-cont:hover .cap {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}